body {
    background-color: rgb(50, 50, 50);
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
	
	font-weight: 300; 
	font-style: normal; 
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p {
    font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; 
}

header {
    z-index: 1;
    background-color: rgb(50, 50, 50);
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

#header-image {
    padding-top: 0.6em;
}

nav {
    margin-top: 2.5em;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
}

nav ul li {
    font-size: 1.4em;
}

nav ul li a {
    text-decoration: none;
    color: #dcdddd;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: rgb(200,50,50);
}

.blurry-background {
    position: relative;
    width: 100%;
    height: 45em;
    z-index: -1;
}

.blurry-background::before {
    content: "";
    background-image: url(../images/background.png);
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.title-background {
    position: absolute;
    margin-top: 10em;
    background-color: rgba(50, 50, 50, 0.8);
    z-index: 1;
    width: 100%;
    height: auto;
}

#welcome {
    text-align: center;
    font-size: 3em;
    color: white;
}

#description {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: -0.5em;
    font-weight: 100; 
}

.buttons {
    text-align: center;
}

#start-button {
    font-size: 1.5em;
    color: white;
    background-color: rgb(200,50,50);
    border: none;
    padding: 0.5em 0.8em;
}

#tutorial {
    font-size: 1.5em;
    color: white;
    background-color: rgb(200,50,50);
    border: none;
    padding: 0.5em 0.8em;
}

#contributors {
    color: white;
    text-align: center;
    font-weight: 100;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
}

footer {
    background-color: rgb(50, 50, 50);
    font-size: 1.5em;
    width: 100%;
    color: white;
    padding: 5px 0px 5px 0px;
    text-align: center;
}